body {
  text-align: center;
  background-color: #2E4053;
}

.Main_Switch_Status {
  margin-top: 40%;
  color: white;
  font-family: Verdana;
}

.Main_Switch_Btn {
  font-size: 1.5em;
  font-family: Verdana;
  padding: 10px;
}
